DATABASE_URL=

S3_URL=https://s3.eurofurence.org

BETTER_AUTH_URL=http://localhost:5173
BETTER_AUTH_SECRET=

IDP_URL=https://identity.eurofurence.org
IDP_CLIENT_ID=3ad97889-5497-4261-a9fb-e16354af39b3
IDP_CLIENT_SECRET=

ATTSRV_URL=https://reglive.eurofurence.org/20260121-1903-r5v1/attsrv
